@import 'lib/bootstrap/bootstrap.styl' // bootstrap-stylus
@import 'nib'

.nav
  
  img.avatar
    position: relative
    height: 32px
    margin-right: 10px
    margin-top: -10px
    top: 5px

.main-content
  margin-top 60px
